		<footer class="footer">
			<p><a class="" href="http://www.golang.org" target="_blank"><img src="{{.qiniuDomain}}/public/img/Golang.png" title="Golang"></a>
				<span>
					<a href="https://github.com/goofcc/gorevel.git" target="_blank">本站源码</a> 使用<a href="http://robfig.github.io/revel/" target="_blank"> Revel</a>、<a href="https://github.com/lunny/xorm" target="_blank"> Xorm</a> 构建。
				</span>
			</p>

			<p>Thanks, Rob Figueiredo. Gopher images remixed from those produced by<a href="http://www.golang.org"> Go team</a> .
			</p>
			
		</footer>

		<script>
			jQuery(document).ready(function() {
				jQuery("abbr.timeago").timeago();
			});
		</script>
		{{if eq .RunMode "dev"}}
			{{template "debug.html" .}}
		{{end}}
	</body>
</html>
