{{set . "title" "忘记密码"}}
{{template "header.html" .}}

<div class="container fixed">
	<div class="section">
		<div class="page-header">
			<h2>{{.title}}</h2>
		</div>
		{{template "flash.html" .}}
		<form action="{{url "User.ForgotPassword"}}" method="POST" class="form-horizontal">
			<input type="hidden" name="csrf_token" value="{{ .csrf_token }}" />

			{{with $field := field "email" .}}
			<div class="control-group">
				<label class="control-label" for="{{$field.Name}}">Email</label>
				<div class="controls">
					<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" id="{{$field.Name}}" placeholder="Email">
					<span class="text-error">{{$field.Error}}</span>
				</div>
			</div>
			{{end}}

			<div class="control-group">
				<div class="controls">
					<button type="submit" class="btn btn-primary">重设密码</button>
				</div>
			</div>
		</form>
	</div>
</div>

{{template "footer.html" .}}
